<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.security.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddprojectServlet</servlet-name>
        <servlet-class>com.project.AddprojectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientController</servlet-name>
        <servlet-class>com.project.ClientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierController</servlet-name>
        <servlet-class>com.project.SupplierController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskServlet</servlet-name>
        <servlet-class>com.task.TaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTaskServlet</servlet-name>
        <servlet-class>com.task.AddTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.security.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageServlet</servlet-name>
        <servlet-class>com.notification.MessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddprojectServlet</servlet-name>
        <url-pattern>/AddprojectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientController</servlet-name>
        <url-pattern>/ClientController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierController</servlet-name>
        <url-pattern>/SupplierController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskServlet</servlet-name>
        <url-pattern>/TaskServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTaskServlet</servlet-name>
        <url-pattern>/AddTaskServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageServlet</servlet-name>
        <url-pattern>/MessageServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
